# ===== .envの例 ======
# このファイルの内容をコピーして、.envファイルを作成してください。

# APIのベースURL
API_BASE_URL=http://localhost:1234
# 委員長の名前と電話番号
CHAIRPERSON_NAME=委員長 太閤良樹
CHAIRPERSON_PHONE_NUMBER=00011112222
# SeeFTの操作説明のURL
SEEFT_INSTRUCTIONS_URL=https://docs.google.com/presentation/d/1sUXU0QGyd6fO5UGh4SC2dfIsC9_fgrqKAS49Sa-inGY/preview
# 全体シフトのURL
WHOLE_SHIFT_URL=https://example.com

# 各日程
NUTFES_PREPARATION_DAY=2025-09-12
NUTFES_DAY1=2025-09-13
NUTFES_DAY2=2025-09-14
NUTFES_TIDYING_UP_DAY=2025-09-15